* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 82.5%;
}
body {
  background-color: rgb(141, 136, 130);
  color: #ffffff;
}
/* register.css */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.registration-form {
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formDiv {
  display: flex;
  gap: 1rem;
}
.formDiv label {
  display: flex;
  align-items: center;
  padding: 5px 2px;
  font-size: 1.2rem;
}
.formDiv input {
  padding: 5px 2px;
  background-color: beige;
}
.registerButton {
  padding: 5px 2px;
  text-align: center;
}
.registerButton button {
  padding: 5px;
}

a {
  text-decoration: none;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
